@charset "utf-8";
*, :is(::after, ::before){margin: 0px;padding: 0px;box-sizing: border-box;outline: none;list-style: none;text-decoration: none;}
html, body{width: 100%;height: 100%;}
/* :root{--colorBar:#000;} */
@media(prefers-color-scheme: light){
    /* :root{--colorBar:rgb(0, 0, 0);}
    body{background-color: rgb(255, 255, 255);} */
}
@media(prefers-color-scheme: dark){
    /* :root{--colorBar:rgb(255, 255, 255);}
    body{background-color: #000;} */
}
body{background-color: #0000000f;display: flex;}
body #container{width: 550px;height: 250px;margin: auto;position: relative;}
body #container > .blobSvg{height: 100%;}
body #container > .blobSvg .item{opacity:0;margin: auto;width: 100%;height: 100%;position: absolute;}
/* body #container > .blobSvg .visibleBlobSvg{opacity:1;transition:opacity 1000ms;} */
body #container > .blobSvg .resultSVG{margin: auto;width: 100%;height: 100%;}
body #container > .blobSvg .resultSVG svg{width: 100%;height: 100%;transition:all 1s;}
